[Unit]
Description=A tiddly server systemd service

[Service]
Type=simple
ExecStart=/bin/sh /usr/bin/tiddlyrun.sh

[Install]
WantedBy=multi-user.target
